<%= render partial: '/layouts/header_to_user' %>
<p>Адміністратор відхилив публікацію Вашого оголошення <b><%= @car.brand %></b> на нашому порталі</p>

<p>Ознайомтеся будь ласка з Term and Conditions!</p>

<%= render partial: '/layouts/regards' %>
